* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body, p, span, a, button {
  font-family: Montserrat, sans-serif;
  line-height: 1.75;
}

a {
  color: #32cd32;
  text-decoration: none;
}

h3 {
  font-size: 23px;
  line-height: 1.1;
}

html {
  height: 100%;
}

body {
  background-color: #333;
  max-width: 672px;
  margin: auto;
  padding: 42px 21px;
  height: fit-content;
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
  color: rgba(255, 255, 255, 0.9);
}

.header {
  display: flex;
  gap: 0 14px;
}

.profile-pic {
  height: 50px;
  width: 50px;
  object-fit: cover;
  border-radius: 50%
}

.headline {
  color: rgba(255, 255, 255, 0.9);
}

.link {
  margin-top: 30px;
  display: block;
}
